$link-color: #606266;
$b-2r:2px solid red;
.b-orange {
  background: rgba(255,68,1,1)
}
.b-b8 {
  background: #f8f8f8;
}

/* font */
.link-color {
  color: $link-color;
}
.font-6c {
  color: #6c6c6c;
}
.font-e9 {
  color: #9e9e9e;
}
