$width1200: 1200px;

/* font */
.font-size18 {
  span {
    font-size: 18px;
  }
}


.w-1200 {
  width: $width1200;
  margin: 0 auto;
}
.min-1200 {
  min-width: $width1200;
}

/* line-height */
.lh32 {
  line-height: 32px;
}
.lh68 {
  line-height: 68px;
}

/* padding */
.padding-t-b-15 {
  padding: 15px 0;
}
.padding-t-b-30 {
  padding: 30px 0;
}
.padding-t-b-20 {
  padding: 20px 0;
}
.padding-l-r-35 {
  padding: 0 35px;
}
.padding20-35 {
  padding: 20px 35px;
}

/* margin */
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-t-b-20 {
  margin: 20px 0;
}

/* align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
