@import "color";

$width1200: 1200px;

/* font */
.font-size18 {
  span {
    font-size: 18px;
  }
}
.fontStrong {
  font-size: 14px;
  font-weight: bolder;
}
// 需要设置 width
.text-overflow{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}


.w-1200 {
  width: $width1200;
  margin: 0 auto;
}
.min-1200 {
  min-width: $width1200;
}

/* line-height */
.lh32 {
  line-height: 32px;
}
.lh68 {
  line-height: 68px;
}

/* padding */
.padding-t-b-15 {
  padding: 15px 0;
}
.padding-t-b-30 {
  padding: 30px 0;
}
.padding-t-b-20 {
  padding: 20px 0;
}
.padding-l-r-35 {
  padding: 0 35px;
}
.padding20-35 {
  padding: 20px 35px;
}
.padding20-25 {
  padding: 20px 25px;
}
.padding26 {
  padding: 26px;
}

/* margin */
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-t-b-20 {
  margin: 20px 0;
}
.margin-t-b-10 {
  margin: 10px 0;
}
.margin-t-b-5 {
  margin: 5px 0;
}
.margin-l-r-15 {
  margin: 0 15px;
}
.margin-l-r-5 {
  margin: 0 5px;
}
.div-margin-t-b-10 {
  div {
    margin:10px 0;
  }
}
.div-margin-t-b-5 {
  div {
    margin:5px 0;
  }
}

/* border */
.active-b {
  border-bottom: $b-2r
}
/* align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
