@import 'common';
@import 'color';
@import 'module';
@import 'change';

* {
  padding: 0;
  margin: 0;
  font: 12px Microsoft YaHei;
}
a {text-decoration: none;color: $link-color;}
a:visited{text-decoration:none;color: $link-color;}
a:active{color: $link-color;}
