.top-right-nav {
  padding-top: 2px;
  text-align: right;
  a {
    margin:0 10px;
  }
}


.userHome {
  .top span{
    color: white;
  }
}
.navText {
  position: relative;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4285f4;
    transition: all 0.3s
  }
  &:hover:before {
    width: 100%;
    left :0;
    right:0;
  }
}


