.top-right-nav {
  padding-top: 2px;
  text-align: right;
  a {
    margin:0 10px;
  }
}

/* table */
.e8-b {
  background: #e8e8e8;
  padding: 8px 0;
}
.c-table {
  border: 1px solid rgba(175,196,220,1);
  .td-center td {
    text-align: center;
  }
}

.userHome {
  .top span{
    color: white;
  }
}
.navText_line {
  position: relative;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4285f4;
    transition: all 0.3s
  }
  &:hover:before {
    width: 100%;
    left :0;
    right:0;
  }
}


