$c-table-false-head:rgba(214,235,248,1);
$c-table-false-border:1px solid rgba(175,196,220,0.5);
$c-table-false-hover-border:1px solid rgba(175,196,220,1);
$c-table-true-head: rgba(245,245,245,1);
$c-table-true-border:1px solid rgba(230,230,230,0.5);
$c-table-true-hover-border:1px solid rgba(230,230,230,1);


.tag-box {
  width:auto;
  display: inline-block;
}

.top-right-nav {
  padding-top: 2px;
  text-align: right;
  a {
    margin:0 12px;
  }
  a:hover {
    color: red;
  }
  span:hover {
    color: red;
  }
}

/* table */
.c-tale-title {
  padding: 8px 0;
  margin:10px 0;
  background-color: $c-table-true-head;
  border:$c-table-true-hover-border;
}
/*.c-table {
  &:hover {
    border: $c-table-hover-border;
  }
  span {
    font-size: 12px;
  }
  border: $c-table-border;
  .borders {
    border: $c-table-border
  }
  .border-t {
    border-top: $c-table-border;
  }
  .border-b {
    border-bottom: $c-table-border;
  }
  .border-l {
    border-left: $c-table-border;
  }
  .border-r {
    border-right: $c-table-border;
  }
  .item-head {
    padding: 8px;
    background: rgba(214,235,248,1);
  }
  .td-center td {
    text-align: center;
  }
  .item-foot {
    td {
      padding: 12px 15px;
    }
  }
}*/
.c-table {
  span {
    font-size: 12px;
  }
  .item-head {
    padding: 8px;
  }
  .td-center td {
    text-align: center;
  }
  .item-foot {
    td {
      padding: 12px 15px;
    }
  }
}

.c-table-false {
  border: $c-table-false-border;
  &:hover {
    border: $c-table-false-hover-border;
  }
  .borders {
    border: $c-table-false-border
  }
  .border-t {
    border-top: $c-table-false-border;
  }
  .border-b {
    border-bottom: $c-table-false-border;
  }
  .border-l {
    border-left: $c-table-false-border;
  }
  .border-r {
    border-right: $c-table-false-border;
  }
  .item-head {
    background: $c-table-false-head;
  }
}
.c-table-true {
  border: $c-table-true-border;
  &:hover {
    border: $c-table-true-hover-border;
  }
  .borders {
    border: $c-table-true-border
  }
  .border-t {
    border-top: $c-table-true-border;
  }
  .border-b {
    border-bottom: $c-table-true-border;
  }
  .border-l {
    border-left: $c-table-true-border;
  }
  .border-r {
    border-right: $c-table-true-border;
  }
  .item-head {
    background: $c-table-true-head;
  }
}



.userHome {
  .top span{
    color: white;
  }
}
.navText_line {
  position: relative;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4285f4;
    transition: all 0.3s
  }
  &:hover:before {
    width: 100%;
    left :0;
    right:0;
  }
}


